.Head{
    text-align: center;
}

.displayRoll{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.cellPreview{
    width: 33vw;
    height: 60vh;
    position: relative;
    background-repeat: no-repeat;
}
.preview{
    width: 33vw;
}

@media only screen and (max-width:950px){
    .displayRoll{
        display: block;
    }

    .cellPreview{
        width: 80vw;
        position: relative;
        background-repeat: no-repeat;
    }

    .preview{
        width: 80vw;
    }
}

.cellPreview:hover .backgroundBuffer{
    opacity: 1;
}


#pySound{
    background-image: url("SoundModulation.png");
}

#processingRain{
    background-image: url("ProcessingRainPreview.png");
}

#requiem{
    background-image: url("RequiemPreview.png");
}

.backgroundBuffer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(00, 140, 186, 0.5);
  color: white;
  text-align: center;
  vertical-align: middle;
}