.vidContain {
    width: 1vw;
    height: 360px;
    position: relative;
}

.video {
    margin: auto;
    display: block;
}

.videoMessage {
    background-color: rgba(100, 100, 100, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.vidText {
    color: white;
}